<div id="<%= dom_id event %>">
	<div id="events">	
	  <h2>
	    <%= event.title %>
	  </h2>
	 <p>
	    <strong>Location:</strong>
	    <%= event.location_description %>
	 </p>

	  <p>
	    <strong>Date and Time:</strong>
	    <%= event.event_time %>
	  </p>
	</div> 

</div>